{
   "cluster_type": "Kubernetes",
   "name": "#NAME#",
   "region_id": "#REGION#",
   "disable_rollback": true,
   "timeout_mins": 60,
   "kubernetes_version": "1.16.9-aliyun.1",
   "snat_entry": true,
   "endpoint_public_access": false,
   "cloud_monitor_flags": false,
   "deletion_protection": false,
   "node_cidr_mask": "26",
   "proxy_mode": "ipvs",
   "tags": [],
   "addons": [
       {
           "name": "flannel"
       },
       {
           "name": "csi-plugin"
       },
       {
           "name": "csi-provisioner"
       },
       {
           "name": "nginx-ingress-controller",
           "config": "{\"IngressSlbNetworkType\":\"internet\"}"
       }
   ],
   "os_type": "Linux",
   "platform": "AliyunLinux",
   "node_port_range": "30000-32767",
   "login_password": "YANGchen970617",
   "cpu_policy": "none",
   "master_count": 3,
   "master_vswitch_ids": [
       "vsw-bp1bgp5v4duhtkykk8t4h",
       "vsw-bp1bgp5v4duhtkykk8t4h",
       "vsw-bp1bgp5v4duhtkykk8t4h"
   ],
   "master_instance_types": [
       "#INSTANCE_TYPE",
       "#INSTANCE_TYPE",
       "#INSTANCE_TYPE"
   ],
   "master_system_disk_category": "cloud_ssd",
   "master_system_disk_size": 120,
   "runtime": {
       "name": "docker",
       "version": "19.03.5"
   },
   "worker_instance_types": [
       "#INSTANCE_TYPE"
   ],
   "num_of_nodes": 3,
   "worker_system_disk_category": "cloud_efficiency",
   "worker_system_disk_size": 120,
   "vpcid": "vpc-bp1tz33v9lv47nptrykbu",
   "worker_vswitch_ids": [
       "vsw-bp1bgp5v4duhtkykk8t4h"
   ],
   "is_enterprise_security_group": true,
   "container_cidr": "172.20.0.0/16",
   "service_cidr": "172.21.0.0/20"
}